<head>
  <title>投稿詳細</title>
</head>

<body>
<p class="top-message">修正も削除もできないよ</p>
<div class="content">
<%= @post.content%>
</div  class="cereated_at">
投稿日時　<nobr  class="cereated_at">
<%= @post.created_at %>
</nobr>
</div>
</body>

