<head>
  <title>top</title>
</head>

<body>

  <div class="main top-main">
    <p class="top-message">素人がつくったのでやさしくつかってね</p>
    
    <div>
      　<a href="http://localhost:3000/home/new">投稿してね<a>
      <br>
      　<a href="http://localhost:3000/home/index">投稿したらみてね</a>
    </div>
  </div>

  <div class="appendix">
      <br><br>
      <p>appendix 〜この開発でつかったものたち〜</p>
      <!-- <a href="/home/dokkiri">html/css/ruby/railsのお勉強</a> -->
      <!––　yoshiki が修行終わったら上は削除してこっちを表示する　––>
      <a href="https://prog-8.com/paths/rails">html/css/ruby/railsのお勉強</a>
      <br>
      <a href="https://docs.google.com/document/d/1bmWWQr5LEFxswnqSNzdAohs4LVZK1qc2We_2eVFoWts/edit#">試行錯誤の記録</a>
      <br>
      <a href="https://docs.google.com/presentation/d/1u0zEzHsAkthO5_SUSHUGmqCyABDUe1i5JuJwvOhrrF4/edit#slide=id.ge529690fee_0_0">アプリの設計図</a>
  </div>

</body>